extends ../base.pug

block variables
  - var template = 'work'

block content 
  .work
    .work__wrapper

      .work__gallery
        each media in work.data.gallery
          figure.work__gallery__media
            img(data-src=media.image.url, alt=media.image.alt).work__gallery__media__image

      .work__text__wrapper
        .work__title 
          h2.work__title__text=work.data.title  
          
        .work__info
          .work__info__client.work__info__description
            p.work__info__description__label Client
            p.work__info__description__text=work.data.label_client

          //- .work__info__date.work__info__description
          //-   p.work__info__description__label Date:
          //-   p.work__info__description__text=work.data.label_date

          .work__info__type.work__info__description
            p.work__info__description__label Type
            p.work__info__description__text=work.data.label_type

          .work__info__role.work__info__description
            p.work__info__description__label Role
            p.work__info__description__text=work.data.label_role

      a(href=Link('home')).work__link 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.8 16.5").work__link__icon
          path(fill="#000" d="M9.9,3.3H6.6V0H9.9Zm0,13.2V13.2H6.6v3.3Zm9.9-6.6V6.6H6.6V3.3H3.3V6.6H0V9.9H3.3v3.3H6.6V9.9Z")